.diaSetmana {
    background-color: lightgray;
}

.horaDia {
    background-color: rgb(7, 98, 121);
    color: white;
}

.AW {
    background-color: brown;
    color: white;
}

.pati { 
background-color: black;
color: white;
}

.textWhite {
    color: white;
}

.MME {
    background-color: yellow;
}

.SOM { 
    background-color: lightskyblue;
}

.Ipo2 {
    background-color: greenyellow;
}

.Ipo1 {
    background-color: chocolate;
}

.XL {
    background-color: hotpink;
}

.Moptatiu {
    background-color: fuchsia;
}

.AO {
    background-color: green;
}

.ANG {
    background-color: blue;
    color: white;
}

.Tutoria {
    background-color: red;
    color: white;
}

.backgroundTable {
    background-color: burlywood;
}